@{
  ViewData["Title"] = "Report";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center">Report</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Report 1</h2>
    </div>
  </div>
</div>